.flex {
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    margin: 12px;
    width: 90%;
    float: left;
}
.flex h2:hover {
    transition: 250ms;
    font-size: 48px;
}
.flex h2 {
    font-family: Bahnschrift light;
    color: lawngreen;
    margin-left: 10%;
    margin-top: 20px;
    font-size: 40px;
    text-align: center;
    transition: 250ms;
}

.flexL {
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    margin: 12px;
    width: 90%;
    float: left;
}

.flexL div {

    margin: 10px;
    width: 47%;
    align-content: center;
}

.flexL h2 {
    font-family: Bahnschrift light;
    color: lawngreen;
    margin-left: 10%;
    margin-top: 20px;
    font-size: 40px;
    text-align: center;
    transition: 250ms;
}

.flexL h2:hover {
    transition: 250ms;
    font-size: 48px;
}

.flexL ul {
    font-family: Bahnschrift light;
    color: aliceblue;
    text-align: left;
    width: 80%;
    margin-right: 60%;
    margin-top: 3%;
    margin-bottom: 10%;
    margin-left: 13%;
    font-size: 24px;
}
.flexR {
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    margin: 12px;
    float: right;
    width: 90%;
}
.flexR div {
    margin: 12px;
    align-content: center;
    width: 47%;
}
.flexR h2 {
    font-family: Bahnschrift light;
    color: lawngreen;
    margin-left: 10%;
    margin-top: 20pt;
    font-size: 40px;
    text-align: center;
    transition: 250ms;
}
.flexR h2:hover {
    transition: 250ms;
    font-size: 48px;
}
.flexR ul {
    font-family: Bahnschrift light;
    color: aliceblue;
    text-align: left;
    width: 80%;
    margin-right: 60%;
    margin-top: 3%;
    margin-bottom: 10%;
    margin-left: 13%;
    font-size: 24px;
}
.chisiamo p {
    font-family: Bahnschrift light;
    color: aliceblue;
    text-align: left;
    font-size: 24px;
    width: 30%;
    margin-left: 60%;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-right: 10%;
}
.team {
    width: 100%;
    height: 100%;
    font-size: 15pt;
}
.team h2 {
    font-family: Bahnschrift light;
    color: lawngreen;
    text-align: right;
    margin-right: 10%;
    margin-top: 50pt;
    font-size: 250%;
    margin-bottom: 5%;
}
.team-member {
    display: flex; /* Allinea immagine e testo in orizzontale */
    justify-content: flex-start; /* Allinea tutto a sinistra orizzontalmente */
    align-items: flex-start; /* Allinea tutto in alto verticalmente */
    margin-bottom: 20px; /* Spazio tra i membri del team */
}
.team-member p {
    font-family: Bahnschrift light;
    color: aliceblue;
    text-align: left; 
    font-size: 24px;
    width: auto;
    margin: 0;
}
.team-img {
    width: 80px;
    height: auto;
    border-radius: 10%; /* immagine arrotondata */
    border: 2px solid rgb(124, 252, 0);
    margin: 0 20px 0 0; /* Spazio tra immagine e testo */
}

