.contatti h5 {
    font-family: Bahnschrift light;
    color: lawngreen;
    float: inline-start;
}

.flex-container-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.flex-container-cont>div {
    background-image: url("img/black_background_effect.gif");
    width: 27%;
    height: 400px;
    margin: 50px;
    text-align: center;
    font-size: 60px;


}

.flex-container-cont>div>iframe {
    background-color: lawngreen;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 100px;
    align-items: center;
    border-radius: 40px;
}

.flex-container-cont>div>p {
    color: aliceblue;
    background-color: aliceblue;
    width: 100%;
    height: 0;
    text-align: center;
    font-size: 30px;
    align-items: center;
}

h3 {
    color: lawngreen;
    font-family: Bahnschrift light;
    font-size: xx-large;
}

.flex-container-cont>div>form {
    color: aliceblue;
    width: 100%;
    height: 0;
    text-align: center;
    font-size: 30px;
    align-items: center;
}

.flex-container-cont>div>form>input {
    border-radius: 10px;
    height: 30px;
}

.flex-container-cont>div>form>textarea {
    border-radius: 6px;
    height: 100px;
    width: 400px;
}

.flex-container-cont>div>form>button {
    border-radius: 20px;
    height: 40px;
    width: 80px;
}