footer {
    background-color: rgba(14, 198, 14, 0.184);
}

.footer-section1 {}

.footer-section2 {}

.footer-section3 h6 a {
    text-align: center;
}

.fa {
    padding: 1px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    font-size: 60%;
    margin-right: 10%;
    color: white;
}

.fa-twitter {
    font-size: 10%;
    margin-right: 80%;
    color: white;
}

.fa-linkedin {
    font-size: 60%;
    margin-right: 80%;
    color: white;
}

.fa-instagram {
    font-size: 60%;
    margin-right: 80%;
    color: white;
}