* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: rgb(16, 15, 15);

}

.container {
    width: 100%;
    height: 100vh;
}

.banner {
    background-image: url(img/tech1.jpg);
    width: 100%;
    height: 25%;
    background-position: 20pt;

}


#logo1 {
    font-family: Lucida console;
    font-size: 350%;
    color: lawngreen;
    text-align: right;
    padding-top: 20px;

}

#logo2 {
    font-family: lucida sans typewriter;
    font-size: 70%;
    color: aliceblue;
    margin-right: 20pt;

}

h5 {
    font-family: Bahnschrift Light;
    color: lawngreen;
    font-size: 110%;
    margin-right: 20pt;
    text-align: right;
}

ul {
    margin-top: 40pt;
    font-family: Bahnschrift Light;
    color: rgb(231, 238, 223);
    max-width: 50%;
    width: 100%;
    height: 50%;
    list-style: none;

}

li {
    position: relative;
    float: left;
    width: 20%;
    text-align: center;
}

a:link {
    color: lawngreen;
    font-size: 150%;
    background-blend-mode: hue;
    text-decoration: none;
}

a:visited {
    color: lawngreen;
    font-size: 150%;
    text-decoration: none;
}

a:active {
    color: lawngreen;
    font-size: 150%;
    text-decoration: none;
}

a:hover {
    color: aliceblue;
    font-size: 180%;
    text-decoration: none;
}