body {
    display: flex;
    flex-direction: column;

}

.flexR img {
    width: 12%;
    margin-top: 5%;
    margin-left: 33.5%;
    position: absolute;
}

.flexR {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-bottom: 5%;
    background-color: black;
}

#welcome {
    color: aliceblue;
    font-family: Bahnschrift light;
    margin-top: 130px;
    margin-left: 150px;
    font-size: 45px;
}

#nome {
    font-family: Bahnschrift light;
    color: aliceblue;
    margin-top: 130px;
    margin-left: 320px;
    font-size: 45px;
}

.animate__animated.animate__fadeInLeft {
    animation-duration: 1s;

}

.animate__animated.animate__fadeIn {
    animation-duration: 1.8s;
    animation-delay: 1s;
}

.animate__animated.animate__fadeInRight {
    animation-duration: 1s;
}

.animate__animated.animate__flash {
    animation-duration: 3s;
    animation-delay: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.085, 0.82, 0.165, 1);
}

.intro p {
    color: aliceblue;
    font-family: Bahnschrift light;
    margin-left: 380px;
    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 16px;
    text-align: justify;
}

.intro h5 {
    font-family: Bahnschrift light;
    color: lawngreen;
    font-size: 30px;
    margin-left: 550px;
}

.flexL {
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    margin: 12px;
    width: 90%;
    float: left;
}

.flexL div {
    margin: 10px;
    width: 47%;
    align-content: center;
}

.flexL p {
    font-family: Bahnschrift light;
    color: aliceblue;
    margin-left: 28%;
    margin-top: 20px;
    font-size: 20px;
    text-align: justify;
}

.flexL h3 {
    font-family: Bahnschrift light;
    color: aliceblue;
    margin-left: 10%;
    margin-top: 20px;
    font-size: 25px;
    text-align: justify;
}

h3:hover {
    font-family: Bahnschrift light;
    color: lawngreen;
    font-size: 27px;
}

.flexL img {
    margin-left: 10%;
    border-radius: 10%;
}

footer {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(4, 100, 4, 0.359);
}

footer .footer-section {
    max-width: 30%;
}

.footer-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 15px;
    row-gap: 20px;
}

.footer-section section {
    display: flex;
    justify-content: space-evenly;
}

footer p {
    color: aliceblue;
}

footer h5 {
    font-family: Bahnschrift light;
    color: lawngreen;
    font-size: medium;
}